conf/xsd/countries.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Jul 26 2017 16:35:59 GMT+0200 (CEST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="countries">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="country" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:attribute name="code" type="xs:string"></xs:attribute>
                                       <xs:attribute name="name" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>